.app-container {
  background-color: #ffffff;
  padding: 30px;
}
.image {
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
}
.heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: black;
  font-weight: bold;
}
.caption {
  font-family: 'Roboto';
  font-size: 18px;
  color: grey;
  font-weight: 400;
}
.thumbnail-items-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}
